{% block footer %}


	<!-- Footer -->
	{# <div class="footer text-muted">
		&copy; 2015. <a href="#">Limitless Web App Kit</a> by <a href="http://themeforest.net/user/Kopyov" target="_blank">Eugene Kopyov</a>
	</div> #}
	<!-- /footer -->
    
	{# for the step wizzard #}
{% endblock %}

{% block javascripts %}

	<script type="text/javascript">
	// 	(function($){
	// 		try {
	// 			var form = $(".steps-form");
	// 		    $(".steps-form").steps({
	// 		        headerTag: "h6",
	// 		        bodyTag: "fieldset",
	// 		        transitionEffect: "fade",
	// 		        titleTemplate: '<span class="number">#index#</span> #title#',
	// 		        showFinishButtonAlways: true,
	// 		        enablePagination: false,
	// 		        startIndex: step.Index,
	// 		        onStepChanging: function (event, currentIndex, newIndex) {
	// 		        	form.submit();
	// 		        },
	// 		        onFinished: function (event, currentIndex) {
	// 		            alert("Form submitted.");
	// 		        },
	// 		        onContentLoaded: function (event, currentIndex) {
	// 	        		if( step.Next )
	// 	        			form.steps("next");
	// 		        }
	// 		    });
	// 		}catch(e){console.info(e)};
		    
	// 	}(jQuery));
	 </script>
{% endblock %}


