
<div class="panel-heading">
    <h5 class="panel-title">{{ 'userclient.tab.mail'|trans({}, 'userclient') }}</h5>
</div>
<div class="panel-body">
   <div class="table-responsive" id="all_mails">
	    {% include "MailBundle:Default:modulesUsed/mails_table.html.twig" %}
	</div>
</div>
               