{% extends 'base.html.twig' %}

{% block body %}
	    {# adding head of header page #}
    {% include 'ProjectBundle:back:head.html.twig' %}
        <div class="page-container">
	        <!-- Page content -->
	        <div class="page-content">
	            <!-- Main content -->
	            <div class="content-wrapper">
	            	<h1 class="label label-danger">404 - not found page</h1>
	            </div>
	        </div>
	    </div>
{% endblock %}